* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Start of the body container*/
body {
    background-image: url("Assets/one-piece-logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 350px;
    height: 300px;
    position: absolute;
}

.container {
    width: 450px;
    height: 350px;

    margin-top: 15%;
    margin-left: 40%;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateZ(-10deg);
}

.images {
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}
/* End of body container */
/* start of keyframes */
@keyframes rotate {
    from {}

    to {
        transform: rotateY(-360deg);
    }
}

img:nth-child(1) {
    transform: rotateY(60deg) translateZ(300px);

}

img:nth-child(2) {
    transform: rotateY(120deg) translateZ(300px);

}

img:nth-child(3) {
    transform: rotateY(180deg) translateZ(300px);

}

img:nth-child(4) {
    transform: rotateY(240deg) translateZ(300px);
}

img:nth-child(5) {
    transform: rotateY(300deg) translateZ(300px);

}

img:nth-child(6) {
    transform: rotateY(360deg) translateZ(300px);

}
/* End of keyframes */